<template>
  <v-container>
    <v-row class='ma-3 justify-center text-h5 text-center'>Обновить лот для розыгрыша</v-row>
    <v-sheet width='auto' class='mx-3'>
      <v-form fast-fail @submit.prevent='updateLot'>
        <v-text-field
            v-model='description'
            label='Описание для администратора'
            :rules='descriptionRules'
        ></v-text-field>

        <v-text-field
            v-model='winnerDescription'
            label='Описание для победителя'
            :rules='winnerDescriptionRules'
        ></v-text-field>
        {{ errorMessage }}
        <v-btn type='submit' block class='mt-2'>Обновить</v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script>
import {useRoute} from 'vue-router';

export default {
  name: 'update-page',
  data() {
    return {
      route: useRoute(),
      errorMessage: '',
      api_url: process.env.VUE_APP_API_URL + '/api/lots',
      id: null,
      description: '',
      descriptionRules: [
        value => {
          if (value?.length > 0) return true

          return 'Введите описание для администратора'
        },
      ],
      winnerDescription: '',
      winnerDescriptionRules: [
        value => {
          if (value?.length > 0) return true

          return 'Введите описание для победителя'
        },
      ],
    }
  },
  methods: {
    async updateLot() {
      await fetch(this.api_url, {
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          id: this.id,
          description: this.description,
          winnerDescription: this.winnerDescription
        })
      }).then(response => {
        if (response.ok) {
          window.Telegram.WebApp.close()
        }
      })
          .catch(error => this.errorMessage = error)
    }
  },

  async mounted() {
    fetch(`${this.api_url}/${this.route.params.id}`)
        .then(response => {
          if (response.ok) {
            response.json()
                .then(data => {
                  this.id = data.id;
                  this.description = data.description
                  this.winnerDescription = data.winnerDescription
                })
                .catch(error => console.log(error))
          }
        })
        .catch(error => console.log(error))
  }
}
</script>

<style scoped>

</style>